:root {
  --primary-color: #1a237e;
  --secondary-color: #f8f9fa;
  --accent-color: #ffca28;
  --text-white: #ffffff;
  --navbar-height: 70px;
  --footer-gray: #e2e8f0;
  --footer-text: #475569
}

.bg-corporate {
  background-color: var(--primary-color) !important;
}

.nav-link.dropdown-toggle {
    color: #ffffff !important;
}

.nav-link.dropdown-toggle i {
    color: #ffffff !important;
}

.nav-link.dropdown-toggle:hover {
    color: #f8f9fa !important;
    opacity: 0.8;
}

.custom-card-btn {
    width: 200px;
    aspect-ratio: 1 / 1;
    
    background-color: var(--secondary-color, #ffffff);
    border: 1px solid #dee2e6;
    border-radius: 12px;
    cursor: pointer;
    padding: 1rem;
    
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-card-btn:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
    border-color: var(--primary-color);
}

.custom-card-btn .card-title {
    font-weight: 600;
}

.custom-card-btn:hover i,
.custom-card-btn:hover .card-title {
    color: var(--primary-color) !important;
    transition: transform 0.3s ease, color 0.3s ease;
}

.custom-card-btn {
    color: #64748b;
}

.custom-card-btn .card-title {
    transition: transform 0.3s ease, color 0.3s ease;
    color: #64748b;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-footer-custom {
  background-color: var(--footer-gray) !important;
  color: var(--footer-text) !important;
}

.btn-corporate {
    background-color: var(--primary-color) !important;
    color: var(--text-white) !important;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-corporate:hover {
    background-color: #0d145a !important;
    color: #ffffff !important;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(26, 35, 126, 0.3) !important;
    cursor: pointer;
}

.btn-corporate:active {
    transform: translateY(0);
    filter: brightness(90%);
}

.btn-hover-effect {
    background-color: var(--primary-color);
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    /* A transição 'all' cuida de todas as mudanças de uma vez */
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 4px 6px rgba(26, 35, 126, 0.1);
}

/* Efeito ao Passar o Mouse (Hover) */
.btn-hover-effect:hover {
    background-color: #0d145a !important; /* Um azul mais profundo e sério */
    color: #ffffff !important;
    /* Sombra mais difusa para dar efeito de profundidade/elevação */
    box-shadow: 0 12px 24px rgba(26, 35, 126, 0.3) !important;
    cursor: pointer;
}

/* Efeito ao Clicar (Active) - Feedback tátil */
.btn-hover-effect:active {
    transform: translateY(-1px) scale(0.98); /* Dá um leve "afundada" ao clicar */
    box-shadow: 0 5px 10px rgba(26, 35, 126, 0.2) !important;
}